<launch>
    <group ns="d435">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <arg name="serial_no" value="925622071764"/>
            <arg name="depth_width" value="848" />
            <arg name="depth_height" value="480" />
            <arg name="depth_fps" value="30" />
            <arg name="color_width" value="848" />
            <arg name="color_height" value="480" />
            <arg name="color_fps" value="30" />
            <arg name="enable_infra1" value="false" />
            <arg name="enable_infra2" value="false" />
            <arg name="align_depth" value="true" />
            <arg name="enable_sync" value="true" />
            <arg name="unite_imu_method" value="linear_interpolation" />
            <arg name="tf_prefix" value="d435" />
        </include>
    </group>
</launch>