<launch>
    <arg name="apriltags" default="false" /> <!-- publishes tf transforms -->
    <arg name="lidar" default="true" /> <!-- publishes /LaserScan messages -->
    <arg name="tracking" default="true" /> <!-- publishes odom information and also tf transforms? -->

    <!-- static transforms -->
    <node pkg="tf2_ros" name="robot_base_to_tracking_camera" type="static_transform_publisher" args="0 0 0 0 0 0 1 robot_base tracking_cam" />
    <node pkg="tf2_ros" name="robot_base_to_lidar" type="static_transform_publisher" args="0 0 0 0 0 0 1 robot_base lidar" />
    <node pkg="tf2_ros" name="robot_base_to_map" type="static_transform_publisher" args="0 0 0 0 0 0 1 robot_base map" />
    <!-- <node pkg="navigation" type="static_tf" name="static_tf" output="screen"></node> -->

    <group if="$(eval apriltags)">
        <!-- apriltag detection -->
        <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
            <arg name="camera_name" value="/d435/color" />
            <arg name="camera_frame" value="d435_link" />
            <arg name="image_topic" value="image_raw" />
        </include>
    </group>

    <group if="$(eval lidar)">
        <include file="$(find rplidar_ros)/launch/view_rplidar_a1.launch">
        </include>
    </group>

    <group if="$(eval tracking)">
        <!-- apriltag detection -->
        <include file="$(find realsense2_camera)/launch/rs_t265.launch">
        </include>
    </group>

</launch>
